<div class="item">
  <input
    [id]="item.title"
    type="checkbox"
    (change)="handleCompletedStatus.emit()"
    [checked]="item.completed"
  />
  <label [for]="item.title">{{ item.title }}</label>

  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Edit</button>
    <button class="btn btn-warn" (click)="deleteTodo.emit()">Delete</button>
  </div>

  <!-- This section shows only if user clicks Edit button -->
  <div *ngIf="editable">
    <input
      class="sm-text-input"
      placeholder="edit item"
      [value]="item.title"
      #editedItem
      (keyup.enter)="saveItem(editedItem.value, item)"
    />

    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save" (click)="saveItem(editedItem.value, item)">
        Save
      </button>
    </div>
  </div>
</div>
