.main {
  max-width: 500px;
  width: 85%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 600px) {
  .main {
    width: 70%;
  }
}

.head {
  margin: 1rem 0;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    text-align: end;
  }
}

label {
  font-weight: bold;
  display: block;
  text-align: left;
}

.lg-text-input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #000;
  display: block;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn {
  flex: 1;
  margin: 1rem 0;
  &-wrapper {
    margin-bottom: 2rem;
    gap: 1rem;
  }

  &-menu {
    flex-basis: 32%;
  }
}

.active {
  color: green;
}

ul {
  padding-inline-start: 0;
  li {
    list-style: none;
  }
}
