<div class="main">
  <h1>My To Do List</h1>

  <label for="addItemInput">What would you like to do today?</label>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="submitData(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button
    class="btn-primary"
    (click)="submitData(newItem.value); newItem.value = ''"
  >
    Add
  </button>

  <h2>
    {{ uncompletedItems.length }}
    <span *ngIf="uncompletedItems.length < 2; else elseBlock">
      Todo to be completed</span
    >
    <ng-template #elseBlock> Todos to be completed</ng-template>
  </h2>

  <ul>
    <li *ngFor="let i of items">
      <app-item
        (deleteTodo)="deleteTodo(i.id)"
        (handleCompletedStatus)="handleCompletedStatus(i)"
        (todoNameChangeHandler)="todoNameChangeHandler(i)"
        [item]="i"
      ></app-item>
    </li>
  </ul>
</div>
